<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title%}Django App{% endblock title%}</title>
</head>
<body>
    <nav>
        <a href="/">🏠</a> | 
        <a href="/about">😀</a> | 
        <a href="/posts">📰</a> 
    </nav>
    <main>
        {% block content %}
        {% endblock content%}
    </main>
    <script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>